extends layout

block content
   h1 Nahil Ahmed's API Project
   h2 Timestamp Microservice
   p.red Example Usage:
   code localhost:3000/June 30,2018
   br
   code localhost:3000/1568749
   br
   p.red Expected Output:
   code { "unix":1568749 "natural":June 30,2018 }
